page-confid {
  .backgroundContainer {
    padding: 0;
    font-family: "Lobster";
    height: 100%;
    width: 100%;
    text-align: center;
  }
  .imgBackground {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .imgBackground img {
    width: 100%;
    max-width: 100%;
    float: left;
    padding: 0 2px;
    height: 100%;
  }
  .backgroundImgLayer {
    background: linear-gradient(rgba(3, 3, 3, 0.7), rgba(3, 3, 3, 0.7));
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .close {
    position: fixed;
    bottom: 5px;
    color: #fff;
    width: 100%;
    font-size: 30px;
}
.userslist {
  position: fixed;
      overflow: scroll;
      top: 15px;
      color: #fff;
      height: 88%;
      width: 100%;
}
.user {
    float: left;
    width: 96%;
    text-align: center;
    vertical-align: middle;
    height: 100px;
    background: rgba(255,255,255,0.3);
    margin: 2% 2%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 0px 4px 0 rgba(0, 0, 0, 0.5);
}
.usersession {
    float: left;
    width: 96%;
    text-align: center;
    vertical-align: middle;
    height: 100px;
    background: rgba(6,146,64,0.3);
    margin: 2% 2%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 0px 4px 0 rgba(0, 0, 0, 0.5);
}
.image {
  height: 50px;
      width: 50px;
      background-size: cover;
      z-index: 10;
      border-radius: 50%;
      display: table;
      float: left;
      margin-top: 27px;
}
.nbrArbres,.name,.rank {
  float: left;
      margin-top: 40px !important;
      text-align: center;
      margin-left: 5px;
}
.rank {
  width: 50px;
      margin: 0 2%;
      margin-top: 40px !important;
}
.rank img {
  max-width: 60px !important;
margin-top: -14px;
margin-left: -7px;
}
.rank b {
  padding: 6px 10px;
  border: solid;
  border-radius: 50%;
  font-size: 13px;
}
.name {
  width: 35%;
  min-width: 110px;
}
.nbrArbres{
  width: 20%;
}
.title {
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    width: 100%;
    height: 175px;
    font-size: 30px;
    padding: 30px 50px;
}
.aboutContainer {
  position: fixed;
  top: 90px;
  width: 90%;
  left: 5%;
  color: #bbb;
  font-size: 18px;
  font-family: Arial;
  overflow: scroll;
  height: 77%;
  text-align: left;
}
}
