page-connexion {
  .backgroundContainer {
    padding: 0;
    font-family: "Lobster";
    height: 100%;
    width: 100%;
    text-align: center;
  }
  .imgBackground {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .imgBackground img {
    width: 100%;
    max-width: 100%;
    float: left;
    padding: 0 2px;
    height: 100%;
  }
  .backgroundImgLayer {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) );
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .welcomeTitle {
    position: absolute;
    top: 30%;
    height: 20%;
    text-align: center;
    width: 100% !important;
  }
  .welcomeTitle h1{
    font-family: "Lobster";
    color: #fff;
    font-size: 40px;
    display: inline;
  }
  .connexion{
    position: absolute;
    top: 60%;
    text-align: center;
    width: 100% !important;
  }
  .connexion a{
    color: #bbb;
    font-size: 20px;
  }
  .connexionbuttons {
    position: relative;
    width: 50% !important;
    left: 25%;
    right: 25%;
    margin-top: 5%;
    text-align: center;
  }
  .facebook {
    background-color: #3b5998;
    color: #fff;
    padding: 18px 0;
    border-radius: 50%;
    width: 70px !important;
    float: left;
    // box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
  }
  .facebook:active {
    background-color: #fff;
    color: #3b5998;
  }
  .facebook ion-icon{
    font-size: 250%;
  }
  .googleplus {
    background-color:  #d34836;
    color: #fff;
    padding: 18px 0;
    border-radius: 50%;
    width: 70px !important;
    float: right;
    // box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
  }
  .googleplus:active {
    background-color: #fff;
    color: #d34836;
  }
  .googleplus ion-icon{
    font-size: 250%;
  }
}
